.menu-button-icon-store {
    background-image: url("/Assets/UI/Images/ic_store.svg");
}

.menu-button-icon-help {
    background-image: url("/Assets/UI/Images/ic_help.svg")
}

.money-bar {
    height: 20%;
}

.money-bar-value {
    border-radius: 1%;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    background-color: rgb(255, 255, 255)
}

.money-bar-icon {
    width: 30%;
    height: 140%;

    background-image: url("/Assets/UI/Images/ic_money.svg")
}